# python
*.py[cod]
__pycache__

# heroku
.env

# SQLite databases
*.sqlite

# node
node_modules

# dockers
dockers/redis/Dockerfile
dockers/postgresql/Dockerfile
dockers/mysql/Dockerfile
