# python
*.py[cod]
__pycache__

# Virtual environment
myvenv

# vscode
.vscode

# PyCharm
.idea

# heroku
.env

# SQLite databases
*.sqlite

# article ds path
app/templates/articles
