{#
args:
  articles：article实例组成的列表，例如`Article.query.all()`
use:
  {% from "macros/articles.html" import render_articles_list with context %}
  *需要用的`current_user`，所以导入时需`with context`*
ouput：
  article列表
#}
{% macro render_articles_list(articles) %}
<ul class="articles">
  {% for article in articles %}
  <li class="article">
    <div class=".column">
      <div class="article-title">
        <a href="{{ url_for('article.article', article_name=article.name) }}">{{ article.title }}</a>
      </div>
      <div class="article-date">
        {{ article.date }}
      </div>
    </div>
    <div class=".column">
      <div class="article-author"><a href="{{ url_for('user.user', username=article.author.username) }}">{{ article.author.username }}</a></div>
      <div class="edit">
      {% if current_user.is_authenticated %}
        {% if current_user == article.author %}
          <a href="{{ url_for('article.modify', article_name=article.name) }}">
            <span class="label label-primary">Edit</span>
          </a>
          <a href="{{ url_for('article.delete', article_name=article.name, next='/user/'+article.author.username) }}">
            <span class="label label-danger">Delete</span>
          </a>
        {% elif current_user.is_administrator %}
          <a href="{{ url_for('article.modify', article_name=article.name) }}">
            <span class="label label-primary">Edit [Admin]</span>
          </a>
          <a href="{{ url_for('article.delete', article_name=article.name, next='/user/'+article.author.username) }}">
            <span class="label label-danger">Delete [Admin]</span>
          </a>
        {% endif %}
      {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endmacro %}
