/*
 * Globals
 */
body {
  color: #555;
  background-color: rgba(247, 247, 247, 0.4);
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  color: #333;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
a:link, a:visited {
  text-decoration: none;
}

/*
 * Comments
 */
.commentBox {
  margin: 20px auto;
  padding: 5px;
  border-top: 1px solid #e0e0e0;
}
.commentList {
  list-style-type: none;
  padding: 0px;
  margin: 16px 0px 0px 0px;
}
.comment {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}
.comment:nth-child(1) {
  border-top: 1px solid #e0e0e0;
}
.comments li.comment:hover {
  background-color: #f0f0f0;
}
.commentDate {
  float: right;
}
.commentAuthor {
  font-weight: bold;
}
.commentForm {
  margin: 16px auto;
}
.moderate {
  float: right;
}