/*
 * Blog posts
 */
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.blog-post {
  margin-bottom: 60px;
}
.blog-post-info {
  display: flex;
  justify-content: space-between;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
  color: #428bca;
}
.blog-post-date {
  color: #999;
}
.blog-post-content {
  margin-top: 55px; /*为了抵消文章标题带来的偏移（margin/padding）*/
  line-height: 1.75;
  font-size: 16px;
}
.blog-post-content:hover {
  background-color: #f0f0f0;
}
.clickable-header {  /* 所有的标题 */
    padding-top: 55px;
    margin-top: -55px;
    color:#3776ab;
}
table {
    font-size: 12px;
    line-height: 1.2;
}
/*
 * Comments
 */
div.comment {
  margin: 20px auto;
  padding: 5px;
  border-top: 1px solid #e0e0e0;
}
ul.comments {
  list-style-type: none;
  padding: 0px;
  margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
  border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
  background-color: #f0f0f0;
}
div.comment-date {
  float: right;
}
div.comment-author {
  font-weight: bold;
}
div.comment-form {
  margin: 16px auto;
}
div.moderate {
  float: right;
}
/*
 * Rating
 */
div.blog-rating {
  margin: 20px auto;
  padding: 5px;
  border-top: 1px solid #e0e0e0;
}
div.blog-rating .avg {
  float: right;
}
/*
 * Tip
 */
div.blog-post-tip #toc {
  position: fixed;
  padding: 2px;
}
div.blog-post-tip #toc span{
  position: relative;
  bottom: 10px;
}
div.blog-post-tip #back-to-top {
  position: fixed;
  bottom: 80px;
}

/* 屏幕过窄是隐藏post-tip */
@media (max-width: 768px){
    div.blog-post-tip {
        display: none;
    }
}
