<ul class="articles">
  {% for article in articles %}
  <li class="article">
    <div class=".column">
      <div class="article-title">
        <a href="/{{ article.name }}">{{ article.title }}</a>
      </div>
      <div class="article-date">
        {{ article.date }}
      </div>
    </div>
    <div class=".column">
      <div class="post-author"><a href="{{ url_for('.user', username=article.author.username) }}">{{ article.author.username }}</a></div>
      <div class="edit">
      {% if current_user.is_authenticated %}
        {% if current_user == article.author %}
          <a href="{{ url_for('main.modify_article', article_name=article.name) }}">
            <span class="label label-primary">Edit</span>
          </a>
        {% elif current_user.is_administrator %}
          <a href="{{ url_for('main.modify_article', article_name=article.name) }}">
            <span class="label label-danger">Edit [Admin]</span>
          </a>
        {% endif %}
      {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
