{% macro render_tab_page(items) %}
  <ul class="nav nav-pills" role="tablist">
    {% for item in items %}
      {% if item == items[0] %}
        <li role="presentation" class="active">
          <a href="#{{ item.name }}" aria-controls="{{ item.name }}" role="tab" data-toggle="tab">
             {{ item.name }} <span class="badge">{{ item.size }}</span>
          </a>
        </li>
      {% else %}
        <li role="presentation">
          <a href="#{{ item.name }}" aria-controls="{{ item.name }}" role="tab" data-toggle="tab">
             {{ item.name }} <span class="badge">{{ item.size }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for item in items %}
      {% if item == items[0] %}
        <div role="tabpanel" class="tab-pane fade in active" id="{{ item.name }}">
          <ul class="articles">
            {% for article in item.articles %}
              <li class="article">
                <div class="article-title">
                  <a href="/{{ article.name }}">{{ article.title }}</a>
                </div>
                <div class="article-date">
                  {{ article.date }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <div role="tabpanel" class="tab-pane fade" id="{{ item.name }}">
          <ul class="articles">
            {% for article in item.articles %}
              <li class="article">
                <div class="article-title">
                  <a href="/{{ article.name }}">{{ article.title }}</a>
                </div>
                <div class="article-date">
                  {{ article.date }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{% macro pagination_widget(pagination, endpoint) %}
<ul class="pagination">
  <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
    <a href="{% if pagination.has_prev %}{{ url_for(endpoint,
        page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
        &laquo;
    </a>
  </li>

  {% for p in pagination.iter_pages() %}
    {% if p %}
      {% if p == pagination.page %}
        <li class="active">
          <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
        </li>
      {% else %}
        <li>
          <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
        </li>
      {% endif %}
    {% else %}
      <li class="disabled"><a href="#">&hellip;</a></li>
    {% endif %}
  {% endfor %}

  <li{% if not pagination.has_next %} class="disabled"{% endif %}>
    <a href="{% if pagination.has_next %}{{ url_for(endpoint,
        page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
        &raquo;
    </a>
  </li>
</ul>
{% endmacro %}
