<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
    </div><!-- navbar-header -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav main-nav">
        <li><a href="/" accesskey="1">首页</a></li>
        <li><a href="/categories">目录</a></li>
        <li><a href="/tags">标签</a></li>
        <li><a href="/archives">历史</a></li>
      </ul>
      <form action="/search" method="post" class="navbar-form navbar-left">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="搜索相关文章" name="keys" autocomplete="on">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            更多<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% if current_user.is_administrator %}
            <li><a href="{{ url_for('admin.index') }}">管理</a></li>
            {% endif %}
            {% if current_user.can(Permission.WRITE_ARTICLES) %}
            <li><a href="{{ url_for('article.edit') }}">写作</a></li>
            {% endif %}
            <li><a href="{{ url_for('main.user', username=current_user.username) }}">我的主页</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
            <li><a href="{{ url_for('auth.change_email_request') }}">修改邮件</a></li>
            <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
          </ul>
        </li>
      {% else %}
        <li><a href="{{ url_for('auth.login') }}">登录</a></li>
      {% endif %}
      </ul>
    </div><!-- navbar-collapse -->
  </div><!--container -->
</nav><!-- navbar -->
