<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="/" accesskey="1">Home</a>
      <a class="blog-nav-item" href="/categories">Category</a>
      <a class="blog-nav-item" href="/tags">Tag</a>
      <a class="blog-nav-item" href="/news">New</a>
      <a class="blog-nav-item" href="/about">About</a>
      {% if current_user.is_authenticated %}
      <a class="blog-nav-item" href="{{ url_for('auth.logout') }}">Sign Out</a>
      {% else %}
      <a class="blog-nav-item" href="{{ url_for('auth.login') }}">Sign In</a>
      {% endif %}
      {% if current_user.is_admin %}
      <a class="blog-nav-item" id="refresh" href="{{ url_for('admin.refresh') }}">Refresh</a>
      <a class="blog-nav-item" href="{{ url_for('admin.index') }}">Admin</a>
      {% endif %}
    </nav>
  </div>
</div>
