<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="/">home</a>
      <a class="blog-nav-item" href="/category">category</a>
      <a class="blog-nav-item" href="/tag">tag</a>
      <a class="blog-nav-item" href="/new">new</a>
      <a class="blog-nav-item" href="/about">about</a>
      {% if current_user.is_authenticated %}
      <a class="blog-nav-item" href="{{ url_for('auth.logout') }}">Sign Out</a>
      {% else %}
      <a class="blog-nav-item" href="{{ url_for('auth.login') }}">Sign In</a>
      {% endif %}
    </nav>
  </div>
</div>
