<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" />
    <label class="full" for="star5" title="很精彩"></label>
<!--
    <input type="radio" id="star4half" name="rating" value="4.5" />
    <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
-->
    <input type="radio" id="star4" name="rating" value="4" />
    <label class="full" for="star4" title="还不错"></label>
<!--
    <input type="radio" id="star3half" name="rating" value="3.5" />
    <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
-->
    <input type="radio" id="star3" name="rating" value="3" />
    <label class="full" for="star3" title="凑合看看"></label>
<!--
    <input type="radio" id="star2half" name="rating" value="2.5" />
    <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
-->
    <input type="radio" id="star2" name="rating" value="2" />
    <label class="full" for="star2" title="有点差"></label>
<!--
    <input type="radio" id="star1half" name="rating" value="1.5" />
    <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
-->
    <input type="radio" id="star1" name="rating" value="1" />
    <label class="full" for="star1" title="好烂啊"></label>
<!--
    <input type="radio" id="starhalf" name="rating" value="0.5" />
    <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
-->
</fieldset>
