{% extends "_layouts/default.html" %}
{% from '_macros/pagination.html' import pagination_widget %}
{% from '_macros/articles.html' import render_articles_list with context %}

{% block title %}{{ user.username }}{% endblock %}


{% block header %}
<div class="page-header container">
  <h1>{{ user.username }}</h1>

  {% if user.name or user.location %}
  <p>
    {% if user.name %}{{ user.name }}{% endif %}
    {% if user.location %}
      来自 <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
    {% endif %}
  </p>
  {% endif %}

  {% if current_user.is_authenticated and current_user.is_administrator %}
  <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
  {% endif %}

  {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}

  <p>加入日期: {{ moment(user.member_since).format('LLL') }}</p>
  <p>上次访问: {{ moment(user.last_seen).fromNow(refresh=True) }}</p>

  <p>
    {% if user == current_user %}
    <a class="btn btn-default" href="{{ url_for('user.edit') }}">修改信息</a>
    {% endif %}
    {% if current_user.is_authenticated and current_user.is_administrator %}
    <a class="btn btn-danger" href="{{ url_for('admin.edit_profile', id=user.id) }}">修改信息 [Admin]</a>
    {% endif %}
  </p>

</div>
{% endblock %}

{% block content %}
  {{ render_articles_list(articles) }}
  <div>
    {{ pagination_widget(pagination, 'user.user', username=user.username) }}
  </div>
{% endblock %}

{% block js %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh-CN')}}
{% endblock %}
