{% extends "_layouts/default.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='styles/article.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/syntax.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/rating.css') }}" rel="stylesheet">
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-8">
    <div class="blog-post">
      <div class="blog-post-info">
        <div class="column">
          <h2 class="blog-post-title">
            <a href="{{ url_for('article.article', article_name=article.name) }}">{{article.title}}</a>
          </h2>
          <p class="blog-post-date">{{ article.timestamp.strftime('%Y %m %d') }}</p>
        </div>
        <div class="column">
          {% for tag in article.tags %}
            <a href="/tags">
              <span class="label label-primary">Tag: {{ tag.name }}</span>
            </a>
          {% endfor %}
          <a href="/categories">
            <span class="label label-default">Category: {{ article.category.name }}</span>
          </a>
        </div>
      </div><!-- /.blog-post-info -->
      <div class="blog-post-content">
        {{ article.body_html|safe }}
      </div>
    </div><!-- /.blog-post -->

    <div class="blog-rating" data-user-id={{user_id}} data-article-id={{article_id}} data-avg-rating={{avg_rating}} data-current-rating={{current_user_rating}}>
      <div class="avg">
      <p><span id="avg-rating"></span>({{ num_rating }}人已评分，平均{{ avg_rating }}分)</p>
      </div>
      <div style="display: inline-block;">
      {% if current_user.is_authenticated %}
        {% include '_includes/rating.html' %}<p>(你的评分为：<span id="current-rating">{{ current_user_rating }}</span>)</p>
      {% else %}
        <a href="{{ url_for('auth.login', next='/article/'+article.name) }}">评分前请先登录</a>
      {% endif %}
      </div>
    </div>

<!--
    <div id="comment-box" data-user-id={{user_id}} data-article-id={{article_id}}></div>
-->

    <div class="comment">
      <div class="comment-form">
      {% if current_user.is_authenticated %}
        <p>请输入评论</p>
        <form action="{{ url_for('article.comment', next='/article/'+article.name) }}" method="post" class="form" role="form">
          <input name="user_id" type="hidden" value="{{user_id}}">
          <input name="article_id" type="hidden" value="{{article_id}}">
          <div class="form-group  required"><label class="control-label" for="body"></label>
            <input class="form-control" id="body" name="comment_body" required="" type="text" value="">
          </div>
          <input class="btn btn-default" id="submit" name="submit" type="submit" value="提交评论">
        </form>
      {% else %}
        <a href="{{ url_for('auth.login', next='/article/'+article.name) }}">评论前请先登录</a>
      {% endif %}
      </div>

      <ul class="comments">
      {% for comment in article.comments %}
        <li class="comment">
          <div class="comment-date">{{ comment.timestamp }}</div>
          <div class="comment-author">{{ comment.author.username }}</div>
          {% if current_user.is_authenticated
                and (current_user.is_administrator
                     or comment.author == current_user
                     or comment.article.author == current_user) %}
          <div class="moderate">
            <a href="{{ url_for('article.moderate', comment_id=comment.id) }}">
              <span class="label label-danger">Delete</span>
            </a>
          </div>
          {% endif %}
          <div class="comment-body">
              {% if comment.body_html %}
                  {{ comment.body_html | safe }}
              {% else %}
                  {{ comment.body }}
              {% endif %}
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>

  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <div class="blog-post-tip">
      <div id="similarity">
        <span class="label label-success">相似文章</span>
        <ul class="list-group">
        {% for article_name, similarity in sim_articles %}
          <li class="list-group-item">
            <a href="{{ url_for('article.article', article_name=article_name) }}">{{article_name}}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div id="toc">
      </div>
      <button type="button" class="btn btn-info btn-sm" id="back-to-top">
        <span clas="glyphicon glyphicon-hand-up" aria-hidden="true"></span> 回到顶部
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/article.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/rating.js') }}"></script>
<!--
<script src="{{ url_for('static', filename='scripts/comment.js') }}"></script>
-->
{% endblock %}
