
  <div class="blog-post">
    <div class="blog-post-info">
      <div class="column">
        <h2 class="blog-post-title">
          <a href="/blog-config">blog config</a>
        </h2>
        <p class="blog-post-meta">Tue Jan 31 16:42:24 CST 2017</p>
      </div>
      <div class="column">
        <p class="blog-post-meta">tag: <a href="/tags">flask</a></p>
        <p class="blog-post-meta">category: <a href="/categories">code</a></p>
      </div>
    </div><!-- /.blog-post-info -->
    
    <h3 id="_1">预设环境变量</h3>
<ol>
<li><code>FLASK_CONFIG</code>: 决定以何种模式运行，可选<code>development</code>, <code>testing</code>, <code>production</code>, <code>heroku</code>, <code>default</code>，默认值为<code>default</code></li>
<li><code>ADMIN_EMAIL</code>: 管理员的email，用于管理员登陆和管理员接收网站状态变化，网站初始时自动注册</li>
<li><code>ADMIN_PASSWORD</code>: 管理员的password，用于管理员登陆，网站初始时自动注册</li>
<li><code>MAIL_USERNAME</code>: 网站的email，用于向管理员以及用户发送邮件</li>
<li><code>MAIL_PASSWORD</code>: 网站email密码，用于登陆为<code>MAIL_USERNAME</code>提供服务的email服务器</li>
<li><code>SECRET_KEY</code>: 用户注册及提交表单时使用的加密key</li>
</ol>
<h3 id="_2">文章目录</h3>
<p>项目根目录下<code>./articles</code>为文章目录，保存Markdown格式的文章；生成的HTML格式的文章保存在<code>./app/templates/articles</code>中。</p>
  </div><!-- /.blog-post -->
