
  <div class="blog-post">
    <div class="blog-post-info">
      <div class="column">
        <h2 class="blog-post-title">blog config</h2>
        <p class="blog-post-meta">Tue Jan 31 16:42:24 CST 2017</p>
      </div>
      <div class="column">
        <p class="blog-post-meta">tag: <a href="/tags">flask</a></p>
        <p class="blog-post-meta">category: <a href="/categories">code</a></p>
      </div>
    </div><!-- /.blog-post-info -->
    
    <h3 id="config">config</h3>
<ul>
<li>FLASK_CONFIG: 决定以何种模式运行，可选development, testing, production, heroku, default，默认值为default</li>
<li>ADMIN_EMAIL: 管理员的email</li>
<li>ADMIN_PASSWORD: 管理员的password</li>
<li>MAIL_USERNAME: 服务器的username(email)</li>
<li>MAIL_PASSWORD: 服务器的password</li>
<li>SECRET_KEY: 加密用的key</li>
</ul>
  </div><!-- /.blog-post -->
