
<!doctype html>
<html lang="zh-cn">
<head>
  
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hidden Island </title>
  <meta name="description" content="hidden island">
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="icon" type='image/x-icon' href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <link rel="stylesheet" href="/static/css/syntax.css">

</head>
<body style="position: relative; padding-top: 60px;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Hidden Island</a>
    </div><!-- navbar-header -->
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/user/login">Login</a></li>
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Info<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">About Blog</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">About Me</a></li>
        </ul>
      </li>
    </ul>
  </div><!--container -->
</nav><!-- navbar -->

  <div class="container">
  
  
  <h4>hello world!</h4>
  <p>say hello to the world, ... a brief description of my blog</p>
  <h5>Mon Oct 10 09:03:28 CST 2016</h5>
  <h5>hello</h5>
  <h3 id="c">c</h3>
<div class="highlight"><pre><span></span>int main()
{
    printf(&quot;hello, world!\n&quot;);
    return 0;
}
</pre></div>


<h3 id="python">python</h3>
<div class="highlight"><pre><span></span><span class="k">print</span><span class="p">(</span><span class="s2">&quot;hello, world!&quot;</span><span class="p">)</span>
</pre></div>


<h3 id="javascript">javascript</h3>
<div class="highlight"><pre><span></span><span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&quot;hello, world!&quot;</span><span class="p">)</span>
</pre></div>

  </div>

   
  <script src="/static/js/jquery.min.js"></script>
  
</body>
</html>
