
  <div class="blog-post">
    <h2 class="blog-post-title">Hello, world!</h2>
    <p class="blog-post-meta">Mon Oct 10 09:03:28 CST 2016</p>
    <p class="blog-post-meta">code<a href="#">toy</a></p>
    <p class="blog-post-meta">toy<a href="#">toy</a></p>
    
    <h3 id="c">C</h3>
<pre class="highlight"><code class="language-c">int main()
{
    printf(&quot;hello, world!\n&quot;);
    return 0;
}</code></pre>


<h3 id="python">Python</h3>
<pre class="highlight"><code class="language-python">print(&quot;hello, world!&quot;)</code></pre>


<h3 id="javascript">JavaScript</h3>
<pre class="highlight"><code class="language-javascript">console.log(&quot;hello, world!&quot;)</code></pre>


<h3 id="bash">bash</h3>
<pre class="highlight"><code class="language-bash">echo hello, world!</code></pre>
  </div><!-- /.blog-post -->
