
  
  <div class="blog-post">
     <h2 class="blog-post-title">Hello, world!</h2>
     <p class="blog-post-meta">Mon Oct 10 09:03:28 CST 2016</p>
     <p class="blog-post-meta">toy<a href="#">toy</a></p>
     <h4>Say hello to the world!!!</h4>
     <h3 id="c">C</h3>
<div class="highlight"><pre><span></span><span class="kt">int</span> <span class="nf">main</span><span class="p">()</span>
<span class="p">{</span>
    <span class="n">printf</span><span class="p">(</span><span class="s">&quot;hello, world!</span><span class="se">\n</span><span class="s">&quot;</span><span class="p">);</span>
    <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>


<h3 id="python">Python</h3>
<div class="highlight"><pre><span></span><span class="k">print</span><span class="p">(</span><span class="s2">&quot;hello, world!&quot;</span><span class="p">)</span>
</pre></div>


<h3 id="javascript">JavaScript</h3>
<div class="highlight"><pre><span></span><span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">&quot;hello, world!&quot;</span><span class="p">)</span>
</pre></div>


<h3 id="bash">bash</h3>
<div class="highlight"><pre><span></span><span class="nb">echo</span> hello, world!
</pre></div>
  </div><!-- /.blog-post -->
