
<!doctype html>
<html lang="zh-cn">
<head>
  
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hidden Island </title>
  <meta name="description" content="hidden island">
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="icon" type='image/x-icon' href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <link rel="stylesheet" href="/static/css/syntax.css">

</head>
<body style="position: relative; padding-top: 60px;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Hidden Island</a>
    </div><!-- navbar-header -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Login</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Info<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">About Blog</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">About Me</a></li>
        </ul>
      </li>
    </ul>
  </div><!--container -->
</nav><!-- navbar -->

  <div class="container">
  
  
  <h3 id="hello-world-of-coding">hello world of coding</h3>
<table>
<thead>
<tr>
<th>coding</th>
<th>hello</th>
</tr>
</thead>
<tbody>
<tr>
<td>python</td>
<td>print</td>
</tr>
<tr>
<td>c</td>
<td>printf</td>
</tr>
<tr>
<td>c++</td>
<td>cout</td>
</tr>
</tbody>
</table>

  </div>

   
  <script src="/static/js/jquery.min.js"></script>
  
</body>
</html>
