
  <div class="blog-post">
    <div class="blog-post-info">
      <div class="column">
        <h2 class="blog-post-title">
          <a href="/post-date">blog date</a>
        </h2>
        <p class="blog-post-meta">Thu Apr 27 21:36:25 CST 2017</p>
      </div>
      <div class="column">
        
          <a href="/tags">
            <span class="label label-primary">Tag: write</span>
          </a>
        
        <a href="/categories">
          <span class="label label-default">Category: date</span>
        </a>
      </div>
    </div><!-- /.blog-post-info -->
    
    <h3 id="_1">支持的日期格式</h3>
<p>文章支持的日期格式为:</p>
<pre class="highlight"><code>date: Thu Apr 27 21:36:25 CST 2017</code></pre>


<p>它会被转换为Python datetime.date类型:</p>
<pre class="highlight"><code>datetime.date(2017, 4, 27)</code></pre>
  </div><!-- /.blog-post -->
