
  
  <div class="blog-post">
     <h2 class="blog-post-title">Blog文章写作说明</h2>
     <p class="blog-post-meta">Mon Oct 10 09:26:34 CST 2016</p>
     <p class="blog-post-meta">markdown<a href="#">markdown</a></p>
     <h4>A brief description of my blog</h4>
     <h3 id="codehilite">codehilite</h3>
<h4 id="shebangwith-path">shebang(with path)</h4>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="ch">#!/usr/bin/python</span>
<span class="k">def</span> <span class="nf">hello</span><span class="p">(</span><span class="n">name</span><span class="p">):</span>
    <span class="k">print</span><span class="p">(</span><span class="s2">&quot;hello, </span><span class="si">%s</span><span class="s2">&quot;</span> <span class="o">%</span> <span class="n">name</span><span class="p">)</span>
</pre></div>
</td></tr></table>

<h4 id="shebangno-path">shebang(no path)</h4>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="k">def</span> <span class="nf">hello</span><span class="p">(</span><span class="n">name</span><span class="p">):</span>
    <span class="k">print</span><span class="p">(</span><span class="s2">&quot;hello, </span><span class="si">%s</span><span class="s2">&quot;</span> <span class="o">%</span> <span class="n">name</span><span class="p">)</span>
</pre></div>
</td></tr></table>

<h4 id="colons">colons</h4>
<div class="highlight"><pre><span></span><span class="k">def</span> <span class="nf">hello</span><span class="p">(</span><span class="n">name</span><span class="p">):</span>
    <span class="k">print</span><span class="p">(</span><span class="s2">&quot;hello, </span><span class="si">%s</span><span class="s2">&quot;</span> <span class="o">%</span> <span class="n">name</span><span class="p">)</span>
</pre></div>
  </div><!-- /.blog-post -->
