
  <div class="blog-post">
    <div class="blog-post-info">
      <div class="column">
        <h2 class="blog-post-title">
          <a href="/write-code">Blog文章写作说明</a>
        </h2>
        <p class="blog-post-meta">Mon Oct 10 09:26:34 CST 2016</p>
      </div>
      <div class="column">
        
          <a href="/tags">
            <span class="label label-primary">Tag: markdown</span>
          </a>
        
        <a href="/categories">
          <span class="label label-default">Category: write</span>
        </a>
      </div>
    </div><!-- /.blog-post-info -->
    
    <h3 id="codehilite">codehilite</h3>
<h4 id="shebangwith-path">shebang(with path)</h4>
<pre class="highlight"><code class="language-python linenums">#!/usr/bin/python
def hello(name):
    print(&quot;hello, %s&quot; % name)</code></pre>


<h4 id="shebangno-path">shebang(no path)</h4>
<pre class="highlight"><code class="language-python linenums">def hello(name):
    print(&quot;hello, %s&quot; % name)</code></pre>


<h4 id="colons">colons</h4>
<pre class="highlight"><code class="language-python">def hello(name):
    print(&quot;hello, %s&quot; % name)</code></pre>
  </div><!-- /.blog-post -->
