{% block content %}
  <div class="blog-post">
    <div class="blog-post-info">
      <div class="column">
        <h2 class="blog-post-title">
          <a href="/{{name}}">{{title}}</a>
        </h2>
        <p class="blog-post-meta">{{ datestr }}</p>
      </div>
      <div class="column">
        {% for tag in tags %}
          <a href="/tags">
            <span class="label label-primary">Tag: {{ tag }}</span>
          </a>
        {% endfor %}
        <a href="/categories">
          <span class="label label-default">Category: {{ category }}</span>
        </a>
      </div>
    </div><!-- /.blog-post-info -->
    {# 渲染文章内容，不转义 #}
    {{ content|safe }}
  </div><!-- /.blog-post -->
{% endblock %}
