{% extends "bootstrap/base.html" %}

{% block doc %}
<!doctype html>
<html lang="zh-cn">
<head>
  {% block head %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="my personal blog build with python flask">
    <meta name="author" content="mapan1984">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Hidden Island {% block title %}{% endblock %}</title>
    <!-- bootstrap core css -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- custom styles for this template -->
    <link href="{{ url_for('static', filename='css/blog.css')}}" rel="stylesheet">
    <!-- systan for code -->
    <link href="{{ url_for('static', filename='css/syntax.css')}}" rel="stylesheet">
    <!-- just for debugging purposes. don't actually copy these 2 lines! -->
    <!--[if lt ie 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for('static', filename='js/ie-emulation-modes-warning.js') }}"></script>
    <!-- html5 shim and respond.js for ie8 support of html5 elements and media queries -->
    <!--[if lt ie 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style id="style-1-cropbar-clipper">
      /* copyright 2014 evernote corporation. all rights reserved. */
      .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255,255,255,.38) solid !important;
        border-radius: 4px !important;
      }
      .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
      }
    </style>
  {% endblock %}
</head>
<body>
  {% include '_includes/nav.html' %}

  {% block blog_content %}
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">Hidden Island</h1>
        <p class="lead blog-description">The best time to plant a tree was 10 years ago, The second best time is now.</p>
      </div>
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
      <div class="row">
        <div class="col-sm-8 blog-main">
          {% block blog_main %}
          {% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          {% block blog_sidebar %}
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
          {% endblock %}
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  {% endblock %}

  {% block footer %}
    <div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p> <a href="#">Back to top</a> </p>
    </div>
  {% endblock %}

  {% block js %} 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/docs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/refresh.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
  {% endblock %}
</body>
</html>
{% endblock %}
