{% extends "bootstrap/base.html" %}

{% block doc %}
<!doctype html>
<html lang="zh-cn">
  <head>
    {% block head %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="my personal blog build with python flask">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Hidden Island {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/blog.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/syntax.css')}}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    {% include '_includes/nav.html' %}
    {% for message in get_flashed_messages() %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">Hidden Island</h1>
        <p class="lead blog-description">The best time to plant a tree was 10 years ago, The second best time is now.</p>
      </div>
      {% block blog_content %}
      <div class="row">
        <div class="col-sm-8 blog-main">
          {% block blog_main %}
          {% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            {% block blog_archives %}
            {% endblock %}
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/mapan1984">GitHub</a></li>
              <li><a href="https://twitter.com/mapan2001">Twitter</a></li>
              <li><a href="https://www.facebook.com/profile.php?id=100014500204848">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
      {% endblock %}
    </div><!-- /.container -->

    {% block footer %}
    <div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p> <a href="#">Back to top</a> </p>
    </div>
    {% endblock %}

    {% block js %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/blog.js') }}"></script>
    {% endblock %}
    <script>
      $(function(){
          function footerPosition(){
              let footer = $('.blog-footer')
              footer.removeClass("fixed-bottom");
              let contentHeight = document.body.scrollHeight,//网页正文全文高度
                  winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
              if(!(contentHeight > winHeight)){
                  //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                  footer.addClass("fixed-bottom");
              } else {
                  footer.removeClass("fixed-bottom");
              }
          }
          footerPosition();
          $(window).resize(footerPosition);
      });
    </script>
  </body>
</html>
{% endblock %}
