{% extends "_layouts/default.html" %}

{% block title %}Admin{% endblock %}

{% block blog_content %}
  <div class="container">
    <a class="btn btn-default" href="/admin/refresh" role="button">更新</a>
    <form action="/admin/upload" method="POST" enctype="multipart/form-data">
          <input type="file" name="file">
          <input type="submit" value="UpLoad">
    </form>
    {% for category,articles in category_articles.items() %}
      <h3>{{ category.name }}</h3>
      <ul>
      {% for article in articles %}
        <li><a href="/{{article.name}}">{{article.name}}</a><a href="/admin/delete/{{article.name}}">删除</a></li>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endblock %}
