{% extends "_layouts/default.html" %}
{% import '_includes/macros.html' as macros %}

{% block title %}Admin{% endblock %}

{% block blog_content %}
<div class="row">
  <div class="col-sm-8">
    <table class="table">
      <caption>已记录的文件集合</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>更新</th>
          <th>删除md文件</th>
          <th>删除html文件</th>
        </tr>
      </thead>
      <tbody>
        {% for article in loged_articles %}
        <tr>
          <th scope="row">
            <a href="/{{article.name}}">{{article.title}}</a>
          </th>
          <td>
            <button type="button" class="btn btn-success btn-sm" id="/admin/refresh/{{article.name}}">refresh</button>
          </td>
          <td>
            <a class="btn btn-danger btn-sm" href="/admin/delete/md/{{article.name}}" role="button">delete md</a>
          </td>
         <td>
            <a class="btn btn-warning btn-sm" href="/admin/delete/html/{{article.name}}" role="button">delete html</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="table">
      <caption>未记录的md文件</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>生成html文件</th>
          <th>删除md文件</th>
        </tr>
      </thead>
      <tbody>
        {% for md_article in not_loged_articles %}
        <tr>
          <th scope="row">
            <a href="/{{md_article}}">{{md_article}}</a>
          </th>
          <td>
            <a class="btn btn-primary btn-sm" href="/admin/render/{{md_article}}" role="button">render</a>
          </td>
          <td>
            <a class="btn btn-danger btn-sm" href="/admin/delete/md/{{md_article}}" role="button">delete md</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <form action="/admin/upload" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label>File input</label>
        <input type="file" name="file">
        <p class="help-block">只允许上传符合格式的markdown文件.</p>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
    <hr/>
    <a class="btn btn-success btn-sm" href="{{ url_for('admin.refresh_all') }}" role="button" id="refresh-all">Refresh All</a>
    <hr/>
    <a class="btn btn-primary btn-sm" href="{{ url_for('admin.render_all') }}" role="button">Render All</a>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
{% endblock %}
