{% extends "_layouts/default.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='styles/article.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/syntax.css')}}" rel="stylesheet">
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-8">
    <div class="blog-post">
      <div class="blog-post-info">
        <div class="column">
          <h2 class="blog-post-title">
            <a href="/{{article.name}}">{{article.title}}</a>
          </h2>
          <p class="blog-post-date">{% if article.datestr %}{{ article.datestr }}{% else %}{{ article.date }}{% endif %}</p>
        </div>
        <div class="column">
          {% for tag in article.tags %}
            <a href="/tags">
              <span class="label label-primary">Tag: {{ tag.name }}</span>
            </a>
          {% endfor %}
          <a href="/categories">
            <span class="label label-default">Category: {{ article.category.name }}</span>
          </a>
        </div>
      </div><!-- /.blog-post-info -->
      {{ article.body_html|safe }}
    </div><!-- /.blog-post -->
    <div class="comment">
      <div class="comment-form">
      {% if current_user.is_authenticated %}
        <p>请输入评论</p>
        {{ wtf.quick_form(form) }}
      {% else %}
        <a href="{{ url_for('auth.login', next=article_name) }}">评论前请先登录</a>
      {% endif %}
      </div>
      <ul class="comments">
      {% for comment in article.comments %}
      <li class="comment">
        <div class="comment-date">{{ comment.timestamp }}</div>
        <div class="comment-author">{{ comment.author.username }}</div>
        <div class="comment-body">
            {% if comment.body_html %}
                {{ comment.body_html | safe }}
            {% else %}
                {{ comment.body }}
            {% endif %}
        </div>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <div id="toc">
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/article.js') }}"></script>
{% endblock %}
