{% extends "_layouts/default.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-8">
    <div class="article">
      {{ content|safe }}
    </div>
    <div class="comment">
      <div class="comment-form">
      {% if current_user.is_authenticated %}
        <h3 id="comments">输入评论</h3>
        {{ wtf.quick_form(form) }}
      {% else %}
        <a href="{{ url_for('auth.login', next=article_name) }}">log in before commit comment</a>
      {% endif %}
      </div>
      <ul class="comments">
      {% for comment in comments %}
      <li class="comment">
        <div class="comment-date">{{ comment.timestamp }}</div>
        <div class="comment-author">{{ comment.author.username }}</div>
        <div class="comment-body">
            {% if comment.body_html %}
                {{ comment.body_html | safe }}
            {% else %}
                {{ comment.body }}
            {% endif %}
        </div>
      </li>
      {% endfor %}
      </ul>
    </div>
  <div class="col-sm-3 col-sm-offset-1">
  </div>
</div>
{% endblock %}

