{% extends "_layouts/default.html" %}
{% from '_macros/pagination.html' import pagination_widget %}
{% from '_macros/articles.html' import render_articles_list with context %}

{% block blog_main %}
  {{ render_articles_list(articles) }}
  <div>
    {{ pagination_widget(pagination, 'main.index') }}
  </div>
{% endblock %}

{% block archives %}
<h4>历史</h4>
<ol class="list-unstyled">
{% for archive_anchor in archives_anchor %}
  <li>
    <a href="{{ url_for('main.archives', _anchor=archive_anchor) }}">
      {{ archive_anchor }}
    </a>
  </li>
{% endfor %}
</ol>
{% endblock %}

{% block recommend %}
{% if user_id %}
<div id="recommend-articles" data-user-id="{{user_id}}"></div>
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
{% if user_id %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script type="module" src="{{ url_for('static', filename='scripts/recommend.js') }}"></script>
{% endif %}
{% endblock %}
