{% extends "_layouts/default.html" %}

{% block blog_main %}
  {% for content in contents %}
    {{ content|safe }}
  {% endfor %}
  <nav>
    <ul class="pager">
    {% if page_num == 1 %}
      <li class="disabled"><a href="#">previous</a></li>
    {% else %}
      <li><a href="{{ url_for('main.index_with_num', page_num = page_num - 1) }}">previous</a></li>
    {% endif %}
      <li><a href="{{ url_for('main.index_with_num', page_num = page_num + 1) }}">next</a></li>
    </ul>
  </nav>
{% endblock %}

{% block blog_archives %}
<h4>Archives</h4>
<ol class="list-unstyled">
  {% for article in articles %}
  <li>
    <a href="/{{article.name}}">{{article.date}}</a>
  </li>
  {% endfor %}
</ol>
{% endblock %}

