{% extends "_layouts/default.html" %}

{% block blog_main %}
<ul class="articles">
  {% for sim, article in articles %}
  <li class="article">
    <div class=".column">
      <div class="article-title">
        <a href="{{ url_for('article.article', article_name=article.name) }}">{{ article.title }}</a>
      </div>
      <div class="article-date">
        {{ article.date }}
      </div>
    </div>
    <div class=".column">
      <div class="post-author"><a href="{{ url_for('.user', username=article.author.username) }}">{{ article.author.username }}</a></div>
      <div class="edit">
      {% if current_user.is_authenticated %}
        {% if current_user == article.author %}
          <a href="{{ url_for('article.modify', article_name=article.name) }}">
            <span class="label label-primary">Edit</span>
          </a>
        {% elif current_user.is_administrator %}
          <a href="{{ url_for('article.modify', article_name=article.name) }}">
            <span class="label label-danger">Edit [Admin]</span>
          </a>
        {% endif %}
      {% endif %}
      <span class="label label-default">{{ sim }}</span>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block archives %}
<h4>历史</h4>
<ol class="list-unstyled">
  {% for archive in archives %}
  <li>
    <a href="{{ url_for('article.article', article_name=archive.name) }}">{{archive.date}}</a>
  </li>
  {% endfor %}
</ol>
{% endblock %}

