{% extends "_layouts/default.html" %}

{% block blog_main %}
{% if article_scores %}
  <ul class="articles">
    {% for article, score in article_scores %}
    <li class="article">
      <div class=".column">
        <div class="article-title">
          <a href="{{ url_for('article.article', title=article.title) }}">{{ article.title }}</a>
        </div>
        <div class="article-date">
          {{ article.timestamp.strftime('%Y %m %d') }}
        </div>
      </div>
      <div class=".column">
        <div class="post-author"><a href="{{ url_for('user.user', username=article.author.username) }}">{{ article.author.username }}</a></div>
        <div class="edit">
        {% if current_user.is_authenticated %}
          {% if current_user == article.author %}
            <a href="{{ url_for('article.modify', title=article.title) }}">
              <span class="label label-primary">Edit</span>
            </a>
          {% elif current_user.is_administrator %}
            <a href="{{ url_for('article.modify', title=article.title) }}">
              <span class="label label-danger">Edit [Admin]</span>
            </a>
          {% endif %}
        {% endif %}
        <span class="label label-default">{{ "%f" % score }}</span>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
{% else %}
  <p>你的查询 - {{ query }} 无匹配结果</p>
{% endif %}
{% endblock %}

{% block archives %}
<h4>历史</h4>
<ol class="list-unstyled">
{% for archive_anchor in archives_anchor %}
  <li>
    <a href="{{ url_for('main.archives', _anchor=archive_anchor) }}">
      {{ archive_anchor }}
    </a>
  </li>
{% endfor %}
</ol>
{% endblock %}
