{% extends "_layouts/default.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ user.username }}{% endblock %}

{% block header %}
<div class="page-header container">
  <h1>{{ user.username }}</h1>
  {% if user.name or user.location %}
  <p>
      {% if user.name %}{{ user.name }}{% endif %}
      {% if user.location %}
          From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
      {% endif %}
  </p>
  {% endif %}
  {% if current_user.is_administrator %}
  <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
  {% endif %}
  {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
  <p>Member since {{ user.member_since }}. Last seen {{ user.last_seen }}.</p>
  <h1>Change Your Email Address</h1>
</div>
{% endblock %}

{% block content %}

{% endblock %}
